# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master, xlsxTesting ]
  pull_request:
    branches: [ master, xlsxTesting ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@master
    - uses: actions/setup-node@v3
      with:
        node-version: 14
    
    - id: file_changes
      uses: trilom/file-changes-action@v1.2.4
      with:
        output: ','
        fileOutput: ','

    - name: test
      run: |
        cat $HOME/files.csv > files.csv
    
    - run: npm install
    - run: npm test
    
    - name: running index file
      run: node index.js

    - name: delete files file
      run: rm files.csv

    - uses: EndBug/add-and-commit@v4
      with:
        add: '.'
        commit: 'commit JSON/csv files'
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
